body {
  margin: 0;
  font-family: sans-serif;
}

.hero {
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-size: cover;
}

.featured, .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

img {
  width: 100%;
  height: auto;
}
